<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <h1>Welcome!</h1>
  <h3>Name:</h3>
  <p>{{session['first_name']}} {{session['last_name']}}</p>
  <h3>Email:</h3>
  <p>{{session['email']}}</p>
  <h3>Home Address:</h3>
  <p>{{session['home_address']}}<br />{{session['city']}}, {{session['state']}} {{session['zip_code']}}</p>
  <h3>Phone Number:</h3>
  <p>{{session['phone_number']}}</p>
</body>

</html>