body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3d3d3d;
}

.blue-box {
  background-color: blue;
  width: 600px;
  height: 400px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.red-box {
  background-color: red;
  width: 50px;
  height: 50px;
}