<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About - Flask Assessment</title>
</head>

<body>
  {{header|safe}}
  <h3>Part 1: URL Routes and Views - About</h3>
  <div>
    <img src="https://flask.palletsprojects.com/en/stable/_images/flask-horizontal.png" alt="Flask Logo">
  </div>
  <p>Flask is a lightweight and flexible Python web framework used for building web applications and APIs. It follows the microframework philosophy, meaning it provides only the essential tools for web development without unnecessary complexity. Flask is based on Werkzeug (a WSGI utility library) and Jinja2 (a templating engine), making it powerful yet easy to use. It allows developers to define routes, handle requests, and integrate databases with extensions like Flask-SQLAlchemy. Flask is ideal for small to medium-sized projects, RESTful APIs, and rapid prototyping due to its simplicity, scalability, and extensive community support. </p>
  <a href="https://flask.palletsprojects.com/en/stable/" target="_blank" rel="noopener noreferrer">Check out flask! ⎘</a>

</body>

</html>