<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home - Flask Assessment</title>
</head>

<body>
  {{header|safe}}
  <h3>Welcome to the exam home page!</h3>
  <ul>
    <li><a href="/about">Part 1: URL Routes and Views</a></li>
    <li><a href="/index">Part 2: Static Templates and Jinja2 Template Variables</a></li>
    <li><a href="/contact">Part 3: Forms and Sessions</a></li>
    <li><a href="/login">Part 4: Flask Session and Data Handling</a></li>
  </ul>
</body>

</html>