<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home - Flask Assessment</title>
</head>

<body>
  {{header|safe}}
  <h3>Part 4: Flask Session and Data Handling</h3>
  <h3>Log In:</h3>
  <form action = '/admin' method="POST">
    <label>User:</label><br />
    <input type="text" name="username" required/><br />
    <label>Password:</label><br />
    <input type="password" name="password" required/><br /><br />
    <input type="submit" value="Submit" /><br />
  </form>
</body>

</html>