* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1{
  font-size: 2em;
}

.header-spacer {
  border-bottom: 4px solid #275dc5;
  height: 6.25px;
}

.header, .footer {
  border: 2px solid black;
  margin-left: 5px;
  margin-right: 10px;
  background-color: black;
  color: white;

}

.header {
  text-align: center;
  align-content: space-around;
  height: 8.75%;
}

.header-link {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

.top-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 10px;
  flex: 3;
}

.side-nav {
  background-color: white;
  border: 6px solid #7f38da;
  border-radius: 20px;
  width: 20%;
  height: 100%;
}

.side-nav h2 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.side-nav ol {
  justify-content: left;
  margin-left: 40px;
}

.body-right {
  display: inline-grid;
  grid-template:
    'body-card body-card body-card body-card'
    'body-card body-card body-card body-card';
  color: black;
  width: 60%;
  gap: 2px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

.body-right-card {
  border: solid 2px white;
  background-color: #fffb54;
  justify-items: center;
  border-radius: 20px;
}

.body-right-card h1 {
  margin-top: 20px;
  font-size: 2em;
}


.bottom-container {
  display: grid;
  grid-template: 'bottom-card bottom-card bottom-card';
  gap: 15px;
  margin: 10px 40px;
  flex: 1;
}

.bottom-card {
  background-color: #011886;
  justify-items: center;
  color: white;
}

.bottom-card h1 {
  margin-top: 20px;
}

.footer {
  height: 6.25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

.footer-items {
  text-align: center;
  width: 100%;
  justify-content: center;
}

.footer-link {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}