body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.white-box {
  background-color: white;
  width: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px;
}

.row {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border: 2px solid black;
}

.blue-box {
  background-color: blue;
  width: 25px;
  height: 25px;
  margin: 0 calc(50% - 50px);
}

.red-box {
  background-color: red;
  width: 25px;
  height: 25px;
  margin-left: 0;
}

.green-box {
  background-color: green;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 25px;
}