.container {
  padding: 1rem;
  max-width: 400px;
  margin: auto;
  background-color: #282c34;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.todoList {
  list-style-type: none;
  padding: 0;
}

.todoItem {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #252525;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message {
  text-align: center;
  font-style: italic;
  color: gray;
}

.button {
  margin: 0 auto 1rem auto;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: #00aedf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0080a3;
}