body {
  font-family: "Alef", serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  padding: 20px;
}

header {
  display: grid;
  gap: 10px;
}

.header-top {
  font-family: "Alef", serif;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-logo {
  width: 100px;
  height: auto;
}

.header-title {
  font-size: 64px;
  color: #808080;
  text-align: right;
  margin-right: 50px;
}

.header-nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  font-weight: 600;
}

.header-nav a {
  text-decoration: none;

  color: darkcyan;
  padding: 10px 0;
  text-decoration: underline;
}

.header-nav a:hover {
  color: darkcyan;
  text-decoration: none;
}

.header-banner {
  background: linear-gradient(to right, #5b999d, #e3dedf);
  font-family: "Big Shoulders Display", serif;
  display: inline-flex;
  flex-direction: column;
}

.header-banner h1 {
  font-size: 48px;
  color: rgb(90, 90, 90);
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-banner-dots {
  font-size: 48px;
  color: rgb(90, 90, 90);
  text-align: center;
  margin: -10px;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* font-size: 18px; */
}

.card h2 {
  margin-top: 0;
}

.card li, p {
  text-align: left;
}

.news-events, a {
  color: inherit;
  text-decoration: none;
}

.news-events, a:hover {
  color: darkcyan;
}

.news-events {
  background-color: #e2e4fc;
  color: black;
}


.find-dentist {
  background-color: #f0d9e7;
  color: black;
}

.find-dentist-form {
  text-align: left;
}

.find-dentist input[type="text"] {
  width: 90%;
}

.quick-tips {
  background-color: #d1c1d8;
  color: black;
}