* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header, .footer, .side-nav, .body {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.header, .footer {
  margin-left: 10px;
  margin-right: 10px;
}

.header {
  background-color: red;
  height: 10%;
}

.middle-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 10px;
  flex: 1;
}

.side-nav {
  background-color: aqua;
  width: 20%;
  height: 60%;
}

.body {
  background-color: black;
  color: white;
  flex: 1;
  height: 100%;
}

.footer {
  background-color: grey;
  height: 10%;
}